## **Introduction**
This Kernel covers the basic pandas commands, every ML engineer or Data Scientist should know. Therefore it is intended for beginners. By using these commands we will transform and clean the Rossman Store Sales Dataset. Some transformation I will do in this Kernel doesn't really makes sense out of a machine learning persepective, I just do them for illustrational purposes of pandas. I will use the steps described in the Youtube Tutiorial: "Introduction To Data Analytics With Pandas" from Quentin Caudron, but with the Rossmann Data set.

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
train_df = pd.read_csv("../input/train.csv")

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# **Data Exploration**
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [3]:
# .head() returns the first 5 rows of a dataset
train_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
# .tail() returns the last 5 rows of a dataset
train_df.tail()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [5]:
# .info() shows generell information about the datafram like total entrie number, 
# total number of features, feature types etc.
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null object
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [6]:
# .iloc[] returns a specific row of the dataframe. Just put in the index you wish to see.
# there is also .loc[] which is for selection by label, but also used with a boolean array
train_df.iloc[2]

Store                     3
DayOfWeek                 5
Date             2015-07-31
Sales                  8314
Customers               821
Open                      1
Promo                     1
StateHoliday              0
SchoolHoliday             1
Name: 2, dtype: object

In [7]:
# .describe() shows you several statistical stats about your dataset.
train_df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00

## **Missing Data ?**

Let's look if you we have some missing data in our dataset.

In [8]:
# .isnull() detects missing values.
# .sum() sums values up 
# .max()  returns the maximum of the values in the object
# By using these 3 methods together we can easily see how many missing values our data contains.
train_df.isnull().sum().max()

0

## **Changing pandas dtypes**

In [9]:
# dtypes shows you all features of the dataset and at what type panadas stored them
train_df.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [10]:
print(train_df.Date[0])
# type() returns the type of the input
print(type(train_df.Date[0]))

2015-07-31
<class 'str'>

The Date feature is stored as a string. We will convert it into a pandas Datetime object, so that it is easier to work with.

In [11]:
# pd.to_datetime() transform it into a datetime object
train_df.Date = pd.to_datetime(train_df.Date)
# confirm the types
train_df.dtypes

Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday             object
SchoolHoliday             int64
dtype: object

## **Converting Values**

In [12]:
# train_df.StateHoliday selects the StateHoliday feature
# value_counts() returns how many different values a feature has and counts how often they occur.
train_df.StateHoliday.value_counts()

0    855087
0    131072
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

As you can see the StateHoliday feature contains not only numbers. Because of that we will convert the letters into numeric values.

In [13]:
# create a mapping dictionary
mapping_dictionary = {"StateHoliday": {"a": 1, "b": 2, "c": 3}}

In [14]:
# .replace() replaces the values. 
train_df.replace(mapping_dictionary, inplace = True)

In [15]:
# Let's see if it worked:
train_df.StateHoliday.value_counts()

0    855087
0    131072
1     20260
2      6690
3      4100
Name: StateHoliday, dtype: int64

In [16]:
# Let's check the dtype again.
train_df.dtypes

Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday             object
SchoolHoliday             int64
dtype: object

We succesfully converted the features values but pandas has the StateHoliday feature still stored as an object dtype. We will convert it into an int64.

In [17]:
# astype() transform the dtype, at this example into an integer (int64)
train_df.StateHoliday = train_df.StateHoliday.astype(int)

In [18]:
train_df.dtypes

Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday              int64
SchoolHoliday             int64
dtype: object

In [19]:
train_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

## **Creating new features and using the Datetime object**

The DayOfWeek feature stores the day as a number, which is good to put it into an algorithm but out of illustrational purposes we will create a new feature that contains the actual weekday as a string. We will delete the DayofWeek feature because it didn't works inline with the Datetime object, which is way easier to work with.

In [20]:
# .drop() to drop the DayOfWeek feature
train_df = train_df.drop("DayOfWeek", axis=1)

In [21]:
# Create a series for the weekdays for each entry using dt.weekday. 
# Pandas automatically finds the right day to a specific data because we previously 
# transformed the Date feature into a Datetime object.
weekdays = train_df.Date.dt.weekday
# assign() assigns the new weekdays feature to our dataframe.
train_df = train_df.assign(weekdays = weekdays)

In [22]:
train_df.head()

,Store,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,weekdays
0,1,2015-07-31,5263,555,1,1,0,1,4
1,2,2015-07-31,6064,625,1,1,0,1,4
2,3,2015-07-31,8314,821,1,1,0,1,4
3,4,2015-07-31,13995,1498,1,1,0,1,4
4,5,2015-07-31,4822,559,1,1,0,1,4

We now have a new feature that stores the day of week, called: weekdays. Now we will transform the numbers it contains into actual weekdays.

In [23]:
# creating a list of the days
weekday_names = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
# for-loop to assign these days
weekday_dict = {key: weekday_names[key] for key in range(7)}

# fucntion to actually replace the numbers with the days
def day_of_week(idx):
    return weekday_dict[idx]
# use apply() to apply our function to the weekdays column
train_df.weekdays =  train_df.weekdays.apply(day_of_week)

In [24]:
train_df.weekdays.value_counts()

Thursday     145845
Friday       145845
Wednesday    145665
Tuesday      145664
Sunday       144730
Monday       144730
Saturday     144730
Name: weekdays, dtype: int64

## **Grouping data by a Feature**
Let's group these weekdays.

In [25]:
# groupby() groups our weekdays and  count() counts the rows in each group
weekday_counts = train_df.groupby("weekdays").count()

# We can reorder this dataframe by our weekday_names list
weekday_counts = weekday_counts.loc[weekday_names]

weekday_counts

,Store,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
weekdays,,,,,,,,
Monday,144730,144730,144730,144730,144730,144730,144730,144730
Tuesday,145664,145664,145664,145664,145664,145664,145664,145664
Wednesday,145665,145665,145665,145665,145665,145665,145665,145665
Thursday,145845,145845,145845,145845,145845,145845,145845,145845
Friday,145845,145845,145845,145845,145845,145845,145845,145845
Saturday,144730,144730,144730,144730,144730,144730,144730,144730
Sunday,144730,144730,144730,144730,144730,144730,144730,144730

In [26]:
train_df.head()

,Store,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,weekdays
0,1,2015-07-31,5263,555,1,1,0,1,Friday
1,2,2015-07-31,6064,625,1,1,0,1,Friday
2,3,2015-07-31,8314,821,1,1,0,1,Friday
3,4,2015-07-31,13995,1498,1,1,0,1,Friday
4,5,2015-07-31,4822,559,1,1,0,1,Friday

## **Changing the index**

In [27]:
# .index to set the index equal to the Date feature
train_df.index = train_df.Date
# Let's drop the "old" Date Feature because we no longer need it since it's values are 
# now the index.
# .drop() to drop the feature
train_df.drop(["Date"], axis = 1, inplace = True)

In [28]:
train_df.head()

,Store,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,weekdays
Date,,,,,,,,
2015-07-31,1,5263,555,1,1,0,1,Friday
2015-07-31,2,6064,625,1,1,0,1,Friday
2015-07-31,3,8314,821,1,1,0,1,Friday
2015-07-31,4,13995,1498,1,1,0,1,Friday
2015-07-31,5,4822,559,1,1,0,1,Friday

Instead of 0, 1, 2, 3, 4... we now have the actual Dates as index on the left of the dataframe.

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------